@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    padding: 0;
    text-align: center;
}

#welcome-page{
    border-width: 10px;
    border-style: dashed;
    border-radius: 10%;
    border-color: #29465b;
    margin: 5% 10%;
}

.title{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #29465b;
}

.intro {
    position:relative;
}

.icon{
    width:10%;
}

.intro-img {
    width: 40%;
    height:auto;
    border-style: dotted;
    border-radius: 10%;
}

body button {
    position:absolute;
    top:55%;
    left:44%;
    font-size: 18px;
    background-color: #368700ee;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    cursor: pointer;
}

body button:hover {
    background-color: blue;
}

.instruct p mark{
    background-color:#c0ffc8;
}

.instruct p{
    font-size: 18px;
    text-decoration: underline;
}